@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
*{
    /* border:solid */
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; /* Use the imported font */
}

body{
    display: flex;
}

form{
    display: flex;
    flex:1;
    width:100%;
    border: red solid;
    justify-content: space-around;
    
}

.signup-container{
    display: flex;
    flex-direction: column;
    border: solid rgb(11, 11, 11) 1px;
    padding: 1rem;
    width: 50%;
    justify-content: space-around;
    margin-top: 3rem;
    box-shadow: 0 0 1rem rgba(106, 105, 105, 0.3);

}


/*to design all the general elements*/

    
label{
    
    font-size: x-large;
    font-weight: bold;
    margin-bottom: .5rem;
    
        
    }
    
/*to all the label fields*/
button{
    border-radius: 0.5rem;

}   
input{
    padding: 0.5rem;
    margin-bottom: 2rem;
    border: #0c0c0c 1px solid;
    box-shadow: 0 0 1rem rgba(106, 105, 105, 0.5);
    /* background-color: #f2efd9; */
    background: linear-gradient(135deg, #fefeff, #f5f3e6);
    border-radius: .5rem;
    transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
}
input:focus {
    outline: black inset;
    border-color: #030303;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
input::placeholder {
    color: #bcbcbc;
}

  







.gap{
    display: flex;      
    flex-direction: column;
    /* justify-content: space-between; */
}/* to give space between label and input field*/

.center{
    display: flex;
    justify-content: center;
}
/*to make any span element center*/